.parallax {
  background-image: url("/public/hero-bg.avif"); /* Replace with your hero image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

  
}

.parallax2 {
  background-image: url("/public/features-bg.avif"); /* Replace with features bg */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;


}
